/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ CHAPTER NO: 43-48 ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
#task2>img{
text-align: center;
margin: 0px 80px;  
cursor: pointer;
border: 1px solid rgb(206, 206, 206);
padding: 5px 5px;
border-radius: 10px;
}

#task3{
    font-weight: bold;
}
button{
 padding: 0px 15px;
}
button:focus{
    background-color: rgb(202, 199, 194);
   }
td{
    border: 2px solid black;
    padding: 3px 20px;
}

#task5{
text-align: center;
}
.task-5{
font-size: 30px;
font-weight: bolder;
font-family: 'Times New Roman', Times, serif;
}






/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ CHAPTER NO: 49-52 ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
#Chap49-52-Task1{
    background-color: rgb(43, 41, 41);
    border-radius: 10px;
    box-shadow: 1px 1px 7px grey;
}
h2>b{
    padding-left: 50px;
}
#signup{
    font-weight: bolder;
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#su{
    background-color: rgb(43, 41, 41);
    font-weight: bolder;
    font-size: 25px;
    color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 7px grey;
    font-family: 'Times New Roman', Times, serif;
}
#signupdetails{
    font-size: 15px;
    text-align: left;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 15px; 
}






/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ CHAPTER NO: 52-57 ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
/* Task 1 */
.format {
    width: 250px;
    height: 230px;
}

/* Modal starts */

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 500;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: 'Times New Roman', Times, serif !important;
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-open {
    animation-name: zoomIn;
    animation-duration: 0.6s;
}

@keyframes zoomIn {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}
.modal-close {
    animation-name: zoomOut;
    animation-duration: 0.6s;
}
@keyframes zoomOut {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(0)
    }
}
/* The Close Button */
#chap52T1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
#t1,li{
    font-family:Times, serif;
}
.close {
    position: absolute;
    top: 50px;
    right: 10%;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: normal;
    transition: 0.3s;
}

.close:hover,.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* modal ends */






/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ CHAPTER NO: 58-67 ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
/* Task 1 and 2 */
#div{
    color: white;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
}

